# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / npm 
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Build / cache
# =========================
.cache/
dist/
build/

# =========================
# Archivos temporales
# =========================
*.log
*.tmp

# =========================
# Opcional: variables de entorno
# =========================
.env
